body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
}
#heading{
  font-family: san-serif ;
  font-size: 110%;
  background-color: #706f6b;
}

footer {
  background-color: #343330;
  text-align: center;
}
#sidebar{
  width:20%;
  background-color: aqua;
  padding: 1rem;
  color: black;
}
.navList{
  list-style-type: none;
  padding: 0%;
}
#profilephoto{
  width: 20%;
  height:20%;
  border-radius: 50%;
  border: 3px solid greenyellow;
}
.icons{
  width: 2rem;
  margin: 2rem;
  height: auto;
}