body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  display: flex;
  flex-direction: column;
  border:5px solid#0c0c0b;
}

header {
  text-align: center;
  justify-content: center;
}
#heading{
  font-family: san-serif ;
  font-size: 110%;
  background-color: #bb0f0f;
}

footer {
  background-color: #343330;
  text-align: center;
}
#sidebar{
  width:20%;
  background-color: #15bb0f;
  padding: 1rem;
  color: black;
  
}
.navList{
  list-style-type: none;
  padding: 0%;
}
#profilephoto{
  width: 20%;
  height:20%;
  border-radius: 50%;
  border: 3px solid #15bb0f;
  rotate: -40deg
}
.icons{
  width: 2rem;
  margin: 2rem;
  height: Auto;
 
}
.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}